.hero-section {
  position: relative;
  color: #fff;
  overflow: hidden;
  height: 100vh;
  /* Full viewport height */
}

.hero-image {
  margin-top: -109px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 250px;
  height: 250px;
  margin-left: 224px;
  transition: transform 3s ease;
  /* Add rotation effect */
}

/* Add a keyframe animation for rotating the hero image */
@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.hero-image.rotate {
  animation: rotateImage 10s linear infinite;
}

.hero-image.rotate:hover {
  animation: rotateImage 1s linear infinite;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
  animation: fadeIn 3s ease-out forwards;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  animation: fadeIn 3s ease-in-out forwards;
  /* Animation for subtitle */
}

.hero-button {
  display: inline-block;
  background-color: #2563eb;
  color: #fff;
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  animation: fadeIn 4s ease-in-out forwards;
  /* Animation for button */
}

.hero-button:hover {
  background-color: #1d4ed8;
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(100px);
    /* Start 20px below its final position */
  }

  to {
    opacity: 1;
    transform: translateY(0);
    /* End at its final position */
  }
}

/* Responsive design adjustments for small screens */
@media (max-width: 768px) {
  .hero-title {
    font-size: 1.5rem;
    /* Adjust size for smaller screens */
  }

  .hero-subtitle {
    font-size: 1rem;
    /* Adjust size for smaller screens */
  }

  .hero-button {
    padding: 0.5rem 1rem;
    /* Adjust padding for smaller screens */
  }


  .hero-image {
    width: 150px;
    height: 150px;
    margin-left: 210px;
    margin-top: -407px;
  }
}


/* Responsive design adjustments for large screens */
@media (min-width: 1200px) {
  .hero-title {
    font-size: 4rem;
    /* Larger font size for large screens */
  }

  .hero-subtitle {
    font-size: 2rem;
    /* Larger font size for large screens */
  }

  .hero-button {
    padding: 1rem 2rem;
    /* Larger button padding */
  }

  .hero-image {
    width: 300px;
    /* Larger image size */
    height: 300px;
    margin-left: 250px;
    /* Adjust positioning */
  }
}