.transition-h1 {
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.visible-h1 {
  transform: translateX(0);
  opacity: 1;
  color: #902174;
  text-shadow: 2px 2px 10px #542484;
}

.transition-p {
  transform: translateX(100%);
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.visible-p {
  transform: translateX(0);
  opacity: 1;
  color: #4dbeaf;
  text-shadow: 2px 2px 10px #73cce4;
}